@font-face {
    font-family: 'Domaine';
    src: url(DomaineText-Black.otf);
}

@font-face {
    font-family: 'Crimson';
    src: url(CrimsonText-Bold.ttf);
}

@font-face {
    font-family: 'Verlag';
    src: url(Verlag-Light.otf);
}

@font-face {
    font-family: 'Manifesto';
    src: url(Manifesto.ttf);
}