// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors.scss";

.bg-light { 
  color: $eggshell !important;
}

.welcome {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}

#home_header {
  background-image: asset-url('hero.jpg');
  background-position: top center;
  background-size: cover;

  padding: 0;
  height: 80vh;
  width: 100%;
  display: block;
}

.work-header {
  background-color: $gold;
  padding: 20px 0;

  h2 {
    color: $eggshell;
  }
}

.lead {
  position: relative;
  background-color:  $light-gray;
  padding: 0;
  width: 100%;

  h2.side {
   color: $purple;
   font-weight: normal;
   margin-top: 0;
   padding-right: 1em;
  }

  .blurb {
    padding-left: .5em;
  }

  ul {
    margin: 0 0 0 16px;
    padding: 0; 
    list-style-type: none;
  }

  li:before {    
    font-family: 'Font Awesome 5 Free';
    content: '\f165';
    margin: 0 5px 0 -18px;
    color: $gold;
  }

}

.lead::before {
  content: "";
  background: asset-url('Heather_Allaman_Ring.png') right 0% top 30% no-repeat !important;
  background-size: auto;
  background-size: 30% auto !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -60px;
  right: 0px;
}

.testimonial {
  background-color: $gold;
  a {
    color: $light-gray;
  }
  a:hover {
    text-decoration: underline;
    color: $light-gray;
  }
}

.callout {
  position: relative;
  background-color: $purple;

  h4 {
    padding-bottom: 1em;
  }

  .btn {
    margin-top: 0px !important;
  }
}

.callout::before {
  content: "";
  background: asset-url('Heather_Allaman_Moons.png') center top no-repeat;
  background-size: 12% auto !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -12%;
  left: 0;
}


#work { 

  .col {
    width: 100%;
    margin: 0 auto;
    flex-grow: 0;
  
  }

  h1 { 
    font-size: .95em;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .img-thumbnail {
    margin-bottom: 1em;
  }
}



#about {
  
  background: linear-gradient(to bottom, $light-gray, $light-gray 80%, $purple 20%);
  .thumbnail img {
    -moz-border-radius: 500px;
    border-radius: 500px;
    width: 90%;
    max-width: 290px;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }

  .row {
    padding: 100px 0;
    > .col-sm-6 {
      padding-right: 0;
    }
  }
  .entry {
    text-align: left;
    padding: 15px 0;
  }

}

#contact {
  background: $purple;
  color: $eggshell;

  #new_project {
    background: $purple;
  }
}



@media (max-width: 576px) {
  
  #about {
    background: $eggshell;
  }

}

