<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3">
  <%= link_to image_tag("Heather_Allaman_Logo_Violet.png", :class => 'navbar-brand logo'), root_path %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarT" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbar">
    <ul class="navbar-nav mr-1 mt-2 mt-lg-0  justify-content-end text-right">
      <li class="nav-item">
        <%= link_to 'PROJECTS', projects_path(anchor: 'work'), :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'ABOUT', projects_path(anchor: 'about'), :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'CONTACT', projects_path(anchor: 'contact'), :class => 'nav-link' %>
    </ul>
  </div>
  
</nav>